*~
*.debug
*.dSYM
*.gcov
*.js.mem
*.map
*.mp4
*.o
*.out
*.pyc
*.swp
*.swo
*.wasm
*.wast
*-bak.cpp
*tmp.*

.DS_Store
a.out
a.out.js
web/llms-for-data-extraction.js

build/
doc/_build/

package-lock.json
node_modules/
.ipynb_checkpoints/
coverage_include/
output/1-s2.0-S0959440X02003081-main_cropped.pdf
output/347631a0_cropped.pdf
output/AABC-70333-molecular-dynamics-simulations--advances-and-applications_111915_cropped.pdf
output/ACED Proposal Upload2_cropped.pdf
output/example_cropped.pdf
output/1-s2.0-S0959440X02003081-main_output_text.txt
output/1-s2.0-S0959440X02003081-main.pdf
output/347631a0_output_text.txt
output/347631a0.pdf
output/AABC-70333-molecular-dynamics-simulations--advances-and-applications_111915_output_text.txt
output/AABC-70333-molecular-dynamics-simulations--advances-and-applications_111915.pdf
articles/Ep43558.pdf
