*~
*.debug
*.dSYM
*.gcov
*.js.mem
*.map
*.mp4
*.o
*.out
*.pyc
*.swp
*.swo
*.wasm
*.wast
*-bak.cpp
*tmp.*

.DS_Store
a.out
a.out.js
web/llms-for-data-extraction.js

build/
doc/_build/

package-lock.json
node_modules/
.ipynb_checkpoints/
coverage_include/

output.txt

script/osfstorage
