# instrumentation
black[jupyter]==23.*
isort
jupyter
matplotlib
pytest
pytest-xdist
seaborn
sphinx_rtd_theme
teeplot
watermark
ruff

# dependencies
langchain
langchain-community
langchain-core
numpy<2
ollama
openai
osfclient
pandas
pdfminer
pypdf
pyyaml
tabula
tiktoken
transformers
tqdm
sphinx_rtd_theme
