# instrumentation
black[jupyter]==23.*
isort
jupyter
matplotlib
pytest
pytest-xdist
seaborn
sphinx_rtd_theme
teeplot
watermark
ruff

# dependencies
numpy<2
openai
pandas
pdfminer
pypdf
tabula
tiktoken
tqdm
osfclient
pyyaml
